<div class="main__content__game" {{did-insert this.elementDidInsert}}>
  {{#if @skeleton}}
    <po-fantasy-skeleton></po-fantasy-skeleton>
  {{else}}
    <p>
      FANTATATATATATAT!!!!
    </p>
  {{/if}}
</div>

