po-fantasy-skeleton {
  position: relative;
  flex: 1;

  --skeleton-color: #B2DFDB;
  --item-color: #B2DFDB;
  --background-color: #E0F2F1;
  --drawer-color: #80CBC4;
  --drawer-divider-color: #B2DFDB;
  --drawer-border-color: rgba(0,0,0,0.4);
  --app-bar-button-color: #B2DFDB;
  --app-bar-event-selector-color: #B2DFDB;
  --app-bar-color: #80CBC4;
  --app-bar-border-color: rgba(0,0,0,0.4);
  //--secondary-app-bar-color: #26A69A;
}
